/* Hero */
.hero {
  background: url("/assets/images/hero-section/hero-section-image.jpg")
    center/cover no-repeat;
  color: white;
  padding: 120px 0;
}
.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

/* Card Images */
.card-img-top {
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

@media (max-width: 576px) {
  .card-img-top {
    height: 160px;
  }
}
